<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/source.js"></script>

</head>
<body>
    <div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" style="margin-bottom: 100px">
      <a class="navbar-brand" target="_blank" href="https://www.###.com/">###</a>

      <div class="collapse navbar-collapse" id="navbarColor01">
      </div>
        </nav>
    </div>
    <p style="margin: 200px"></p>

    <div>
        <p id="title">
            <!--<span class="blue">N</span><span class="red">e</span><span class="orange">w</span><span class="green">s</span> <span class="blue">P</span><span class="red">r</span><span class="orange">o</span><span class="red">c</span><span class="orange">e</span><span class="red">s</span><span class="orange">s</span><span class="blue">i</span><span class="green">n</span><span class="red">g</span>-->
            <span class="blue">W</span><span class="red">h</span><span class="orange">a</span><span class="green">t</span> <span class="blue">d</span><span class="red">o</span> <span class="blue">Y</span><span class="red">o</span><span class="orange">u</span> <span class="red">N</span><span class="orange">e</span><span class="orange">e</span><span class="blue">d</span>
        </p>
    </div>

    <div class="ui-widget">
            <input id="inputId"
                   class="RNNXgb"
                   name="keyNew"
                   style="margin: auto"
                   placeholder="想找什么素材呢？"/>
    </div>
    <p></p>
    <div align="center">
        <button type="button" id="searchBtnId" value = "Related" style="padding-left: 6px">Go</button>
    </div>
    <div class="container"style="margin-top: 50px">
        <div class="row">
            <div class="col-sm">
                <p id="secondary">Resource</p>
                <ul class="list-group">
                    <div id="fileList"  class="btn-group-vertical" role="group" aria-label="Basic example">
                        <button id="download_btn" onclick="download_source(this)" type="button" class="btn btn-secondary download_source" style="display:none;">Left</button>
                    </div>
                </ul>
            </div>
            <div class="col-sm">
                <p id="secondary">MostView</p>
                <ul class="list-group">
                    <div id="rankList"  class="btn-group-vertical" role="group" aria-label="Basic example">
                        <button id="rank_btn" type="button" class="btn btn-secondary download_source" style="display:none;">right</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>

